.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f1d2b3;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-bottom: 15px;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}

.card-img, .card-img-top {
    width: 250px;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    margin: 1em;
    border-radius: 50%;
}