@media (min-width: 1600px) {
	.title {
		font-size: 8em;
	}
}

@media (max-width: 1800px) {
	.menu {
		min-width: 15%;
	}
}

@media (max-width: 1600px) {
	.menu {
		min-width: 20%;
	}
}

@media (max-width: 950px) {
	.title {
		font-size: 8em;
	}
	.menu {
		min-width: 25%;
	}
}